/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

body { font: 22px Apple Chancery, Edwardian Script ITC; color: #ffbf00; background-image: url(../images/bg2.jpg);}

form {
	background: #fff0b3;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;

	input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }

	button { width: 9%; background: #0080ff; border: none; padding: 10px; }
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #f2f2f2; }
}
